{% extends 'annoncen/base.html' %} 

{% block title %} 
    Offene Reservierungen
{% endblock %}

{% block content_title %} 
    Offene Reservierungen
{% endblock %}

{% block content %}
{% if pending %}
<div>
    <h4 style="color:green;">Offene Reservierungen!</h4>
    <div class="list-group mt-1">
        {% for annonce in pending %}
            <div class="list-group-item " >
                <div class=" flex-column justify-content-center">
                    {% if annonce.typ %}
                        <span class="badge bg-primary mb-1" style="width: fit-content;">Gesuch</span>
                    {% else %}
                        <span class="badge bg-success mb-1" style="width: fit-content;">Offer</span>
                    {% endif %}
                    <h5 class="mb-1"><a href="{% url 'annoncen:annonce' annonce.pk %}">{{ annonce }}</a></h5>
                    {{annonce.reserviert_von.all.count}} Nutzer möchte(n) die Annonce reservieren.<br>
                    {% for user in annonce.reserviert_von.all %}
                        <br>
                        <div>
                            {{user}}
                        </div>
                        <div class=" justify-content-between">
                            <a class="btn btn-primary btn-sm"href="{% url 'annoncen:reservieren' annoncen_id=annonce.id user_id=user.id todo='3'%}">Reservierung bestätigen</a>
                            <a class="btn btn-danger btn-sm"href="{% url 'annoncen:reservieren' annoncen_id=annonce.id user_id=user.id todo='4'%}">Reservierung zurücknehmen</a>
                        </div>
                        {% if user.profile.enableChat %}
                            <br><a class="btn btn-success" href="{% url 'chat:message_user_create' user %}">{{user}} kontaktieren</a>
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}